body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    width: 750px;  
    margin: 0 auto;
    border: 3px solid blue;
    padding: 0 2em 1em;
}
h1 { 
    font-size: 150%;
    color: blue;
    margin-bottom: .5em;
}
label {
    float: left;
    width: 8em;
}
input, select { 
    width: 10em;
    margin-right: 1em;
    margin-bottom: 1em;
}
input[type=checkbox] { 
    width: 2em;
}
header p {
	margin: 0 2em 1em 0;
}
#new_game, #player, #high_score, #correct {
	float: left;
}

#cards {
    display: flex;
    flex-direction: column;
}

#row {
    display: flex;
}

#cards img {
    height: 100px;
    width: 80px;
    padding-right: 5px;
    padding-bottom: 3px;
    float: left; 
}

.clear {
    clear: both;
}

#tab-nav {
    display: flex;
    background-color: rgb(232, 232, 232);
    padding: 5px 10px;
    margin-bottom: 20px;
}

#tab-nav a {
    display: flex;
    color: gray;
    background-color: rgb(246, 246, 246);
    padding: 6px 15px;
    margin-right: 5px;
    border:1px solid lightgray;
    border-radius: 3px;
    text-decoration: none;
}

#tab-nav .selected {
    color: white;
    background-color: rgb(71, 126, 251);
}

#player_name_error {
    color: red;
    visibility: hidden;
}